@import "~bootstrap/scss/bootstrap";

$charcoalblack: #28333a;
$whiteblue: #8eafc2; 
$offwhite: #b2cfcd;
$grey: #475b63;

$enable-negative-margins: true;

* {
  margin:0;
  box-sizing: border-box;
}


body {
  background-image: url("../assets/background.png");
  background-repeat: repeat;
  background-attachment: fixed;
  font-family: 'Lora', serif;
  font-size: 1.05em;
  line-height: 1.6;
  letter-spacing: 0.05em;
  text-align: justify;
  font-weight: 550;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
}


.mt-n70 {margin-top: -7rem !important;}
.mt-n65 {margin-top: -6.5rem !important;}
.mt-n60 {margin-top: -6rem !important;}
.mt-n55 {margin-top: -5.5rem !important;}
.mt-n50 {margin-top: -5rem !important;}
.mt-n45 {margin-top: -4.5rem !important;}
.mt-n40 {margin-top: -4rem !important;}
.mt-n35 {margin-top: -3.5rem !important;}
.mt-n30 {margin-top: -3.0rem !important;}
.mt-n25 {margin-top: -2.5rem !important;}
.mt-n20 {margin-top: -2rem !important;}
.mt-n15 {margin-top: -1.5rem !important;}
.mt-n10 {margin-top: -1rem !important;}
.mt-n05 {margin-top: -0.5rem !important;}





//************************** NAVBAR **************************

.navbar {
  background-color: $grey;
  display: flex;
  justify-content: space-around;
  padding: 1.5em;
}




//************************** HERO **************************

.hero {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 7rem;
}

.hero-subtitle {
  font-size: 4rem;
  // color: $offwhite;
}





//************************** ABOUT ME **************************

.about {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}


.aboutme-title {
  font-size: 6em;
  // color: $whiteblue;
}

.aboutme-subtitle {
  font-size: 1.8em;
  // color: #b2cfcd;
  // padding-bottom: 0.4em;
}

.aboutme-paragraphs {
  // padding: 0 0 0 8rem;
  font-size: 1.05em;
  line-height: 1.6;
  letter-spacing: 0.05em;
  text-align: justify;
  font-weight: 550;
  // color: $offwhite;
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact-icon {
  margin: 25px;
}

.contact-icon i {
  transition: 0.4s;
  opacity: .3;
  border-radius: 20%;
}

.contact-icon svg {
  background-color: rgb(104, 165, 230);
  border-radius: 20%;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
}

.contact-icon svg:hover {
  border-radius: 20%;
  transition: 0.4s linear ;
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  transform: scale(1.25);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  opacity: 1;
} 

.contact-icon i:hover {
  opacity: 1;
  border-radius: 20%;
} 

//************************** SKILLS **************************

.skills {
  height: 100vh;
  width: 100vw;
  text-align: center;
}

ul {
  list-style: none;
}


//************************** PROJECTS **************************

.projects {
  height: 120vh;
  width: 100vw;
  text-align: center;
}

.readme-icon {
  opacity: 0.75;
}

.readme-icon:hover {
  opacity: 1;
  transition: 0.4s linear;
}
//************************** CAROUSEL **************************

.slideShow {
  margin: 3em;
  height: auto;
}

.slider-image{
  max-height: 70vh;
  max-width: 100%;
  border-radius: 25px;
}

.right-arrow{
  font-size: 3em;
  color: #000;
  z-index: 5;
  cursor: pointer;
  user-select: none;
}

.left-arrow{
  font-size: 3em;
  color: #000;
  z-index: 5;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide-active {
  height: 100%;
  display: flex;
  justify-content: center;
  opacity: 1;
  transition-duration: 1s;
  max-width: 80vw;

}

.change-slide {
  display: flex;
  justify-content: space-evenly;
}



//************************** INTERESTS **************************

.interests {
  height: 100vh;
  width: 100vw;
  text-align: center;
  // padding: 1rem 4.5rem;
}

.photosizing {
  height: 200px;
  width: 230px;
  border-radius: 10%;
}

.interest-pic {
  border-radius: 20%;
  // filter: grayscale(100%);
  // -webkit-filter: grayscale(100%);
  // -moz-filter: grayscale(100%);
  transition: 0.4s;
  opacity: 0.4
}


.interest-pic :hover {
  border-radius: 20%;
  transition: 0.4s linear ;
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  opacity: 1;
}

.photosizing :hover {
  opacity: 1;
}