@import "~bootstrap/scss/bootstrap";


$enable-negative-margins: true;

* {
  margin:0;
  box-sizing: border-box;
  color: white
}


body {
  background-repeat: repeat;
  background-attachment: fixed;
  background-color: rgb(46, 46, 46);
  font-family: 'Roboto Slab', serif;
  font-size: 1.05em;
  line-height: 1.6;
  letter-spacing: 0.05em;
  text-align: justify;
  font-weight: 550;
}

h1, h2, h3, h4, h5, h6, .joeFreeman {
  font-family: 'Oswald', sans-serif;

}

h1, h3, .joeFreeman {
  color: #81C784;
}

a {
  color: white;
  font-family: 'Oswald', sans-serif;
}

.mt-n55 {margin-top: -5.5rem !important;}
.mt-n45 {margin-top: -4.5rem !important;}
.mt-n35 {margin-top: -3.5rem !important;}
.mt-n25 {margin-top: -2.5rem !important;}
.mt-n10 {margin-top: -1rem !important;}
.mt-n05 {margin-top: -0.5rem !important;}


//************************** NAVBAR **************************

nav {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  background-color: rgb(24, 24, 24);
}

.joe-freeman {
  padding: 0.7rem;
  margin-left: 1.5rem;
  font-size: 2rem;
  text-decoration: none;
}

.joe-freeman:hover {
  transition: 0.3s ease;
  transform: scale(1.2);
  color: #81C784;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0.7rem;
  font-size: 2rem;
}

.nav-item {
  margin-right: 1.5rem;
  text-decoration: none;
}

.nav-item:hover {
  transition: 0.3s ease;
  transform: scale(1.1);
  color: #81C784;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}


//************************** HERO **************************

.hero {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 7rem;
  @media only screen and (max-width: 1149px) {
    font-size: 6rem;
  }
}

.hero-subtitle {
  font-size: 4rem;
  @media only screen and (max-width: 1149px) {
    font-size: 3rem;
  }
}





//************************** ABOUT ME **************************

.about {
  height: 100vh;
  width: 100vw;
}

.aboutme-contents {
  margin-top: 100px;
}

.joe-thumbnail {
  border-radius: 50%;
  height: 100px;
}
.aboutme-title {
  text-align: center;
  color:#81C784;
}

.aboutme-subtitle {
  font-size: 1.8rem;
  text-align: center;
  @media only screen and (max-width: 999px) {
    font-size: 1.6rem;
  }
}

.aboutme-paragraphs {
  font-size: 1.10rem;
  line-height: 1.6;
  letter-spacing: 0.04rem;
  text-align: center;
  font-weight: 550;
  @media only screen and (max-width: 999px) {
    font-size: 1rem;
  }
  @media only screen and (max-width: 599px) {
    font-size: 0.8rem;
  }
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 120px;
}

.about-icon {
  margin: 0 30px;
  margin-top: -80px;
  @media only screen and (max-width: 1149px) {
    margin-top: -70px;
  }
  @media only screen and (max-width: 799px) {
    margin: 50px 20px; 
  }
}


.about-icon svg {
  border-radius: 20%;
}

.about-icon svg:hover {

  border-radius: 25%;
  transition: 0.3s linear;
  background-color: #81C784;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
} 

.picture-joe {
  border-radius: 25px;
}

//************************** SKILLS **************************

.skills {
  height: 110vh;
  width: 100vw;
  text-align: center;
}

.skills-content {
  margin-top: 180px;
}

ul {
  list-style: none;
}

.skills-icon-container {
  margin: 0 6rem;
}

.frontend-tech {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.tech {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

//************************** PROJECTS **************************

.projects {
  height: 120vh;
  width: 100vw;
  text-align: center;

  @media only screen and (max-width: 799px) {
    height: 100vh;
}
}

.project-name-anchor {
  text-decoration: none;
}
.project-name {
  color: white;
  opacity: 0.80;
}
.project-name:hover {
  opacity: 1;
  transition: 0.3s linear;
  text-decoration: underline;
  color: #81C784;
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
}

.readme-icon {
  border-radius: 20%;
}

.readme-icon:hover {
  background-color: #81C784;
  transition: 0.3s linear;
  border-radius: 21%;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
}




//************************** CAROUSEL **************************

.slideShow {
  margin: 3em;
  height: auto;
}

.slider-image{
  max-height: 70vh;
  max-width: 100%;
  border-radius: 25px;
}

.right-arrow{
  font-size: 3em;
  color: rgba(0, 0, 0, 0.75);
  z-index: 5;
  cursor: pointer;
  user-select: none;
}

.right-arrow:hover{
  font-size: 3em;
  color: #81C784;
  z-index: 5;
  cursor: pointer;
  user-select: none;
  transition: 0.4s;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
}


.left-arrow{
  font-size: 3em;
  color: rgba(0, 0, 0, 0.75);
  z-index: 5;
  cursor: pointer;
  user-select: none;
}

.left-arrow:hover{
  font-size: 3em;
  color: rgba(0, 0, 0, 1);
  z-index: 5;
  cursor: pointer;
  user-select: none;
  transition: 0.4s;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide-active {
  height: 100%;
  display: flex;
  justify-content: center;
  opacity: 1;
  transition-duration: 1s;
  max-width: 80vw;

}

.change-slide {
  display: flex;
  justify-content: space-evenly;
}
input[type="radio"] {
  appearance: none;
  margin: 0;
  font: inherit;
  color: #81C784;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid black;
  border-radius: 50%;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #81c784b4;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}




//************************** INTERESTS **************************

.interests {
  margin-top: 6rem;
  height: 130vh;
  width: 100vw;
  text-align: center;
  
  @media only screen and (max-width: 799px) {
    height: 100vh;
}
}

.interests-content {
  margin: 1rem 6rem;
  font-size: 1.05rem;
  line-height: 1.6;
  letter-spacing: 0.04rem;
  
}

.interest-image-gallery{
  display: flex;
  justify-content: center;
}

.interests-img {
  border-radius: 20%;
  transition: 0.4s;
  height: 250px;
  width: 250px;
  // opacity: 0.8;
  filter: grayscale(40%);
  -webkit-filter: grayscale(40%);
  -moz-filter: grayscale(40%);
}


.interests-img:hover {
  border-radius: 20%;
  transition: 0.3s linear ;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  opacity: 1;
  z-index: 5;
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
}


//************************** CONTACT **************************

.contact {
  margin-top: 40px;
  height: 50vh;
  width: 100vw;
  text-align: center;
}

  .contact-media {
  @media only screen and (max-width: 799px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
}


.contact-icon {
  display: flex;
  justify-content: center;
  }

.contact-details {
  opacity: 0.80;
  margin: 0 10px;
}

.contact-details:hover {
  opacity: 1;
  color: black;
  transition: 0.3s linear;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}

.contact-icon-hover:hover {
  background-color: #81C784;
  border-radius: 22%;
}


//************************** FOOTER **************************
.footer {
  text-align: center;
  @media only screen and (max-width: 799px) {
  margin-top: 20px;
}
}