* {
  margin:0;
  box-sizing: border-box;
}

body {
  background-color: #929d8f;
}

.hero-container {
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
  width: 100vw;
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 7rem;
}

.hero-subtitle {
  font-size: 4rem;
}